<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DInvoke.Data" version="1.0.4" targetFramework="net481" />
  <package id="DInvoke.DynamicInvoke" version="1.0.4" targetFramework="net481" />
  <package id="dnMerge" version="0.5.15" targetFramework="net481" developmentDependency="true" />
</packages>